body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: bold;
    background-color: #AAAAAA;
}

/* ....................
         nav bar 
.................... */

.nav-bar {}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;

}

.nav-title {
    font-size: 24px;
}

nav a {

    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 16px;

}

#nav-icon {
    width: 36px;
    height: 36px;

}

/* ....................
main pattern
.................... */

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

.main-sec1 {
    width: 582px;
    height: 270px;
}

.main-sec1-tit {
    font-size: 44px;
}

.button {
    border: 2px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #ea146d;
    border-radius: 30px;
    color: white;
}

.button2 {
    background-color: #ea146d;
    color: white;
}

.button1:hover {
    background-color: #ca13db;
    color: rgb(255, 255, 255);
}

.button2:hover {
    background-color: #ca13db;
    color: rgb(255, 255, 255);
}

.but-icon1 {
    margin-left: 6px;
}

.main-sec2 {

    background-image: url(images/Circle\ design.svg);
    background-size: 475px 475px;
    background-position: center;
    background-repeat: no-repeat;
}

.main-sec2-img {
    width: 440px;
    height: 414px;
}

/* .................
sponsor
............... */

.sponsor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    margin-left: 360px;
    margin-top: 80px;
    border-bottom: 2px solid rgb(198, 192, 192);
    border-top: 2px solid rgb(198, 192, 192);
}

/* ...............
ELEMENTS
.............. */

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 50px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;

}

.course-tit {
    text-align: center;
    margin: 10px;
}

.course {
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 10px;
}

.ele-img {
    width: 300px;
    height: 256px;
    padding: 12px;
}

.fa-star {
    color: goldenrod;
}

.course-des {
    padding: 12px;
}

.course-about {
    text-align: end;
    margin-top: 40px;
}

.course-about a {
    text-decoration: none;

    color: #ea146d;
}

/* ....................
last part
.................... */

.master-course {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.master-courses-ele {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.master-course-img {
    width: 404px;
    height: 270px;
    margin-right: 50px;
    padding: 10px;
}

.master-course-det {
    width: 610px;
    height: 224px;
    margin-left: 50px;
    padding: 10px;
}

.master-course-tit {
    font-size: 38px;
}

/* ..............
footer
............... */

.footer {
    text-align: center;
    background-color: #0A0826;
    color: white;
    margin-top: 4%;
    padding: 20px;
    font-size: 24px;
}

.foot-des {
    font-size: 14px;
}

.foot-icon {
    margin-left: 25px;
}

/* .................
responsive
................ */

@media only screen and (max-width:688px) {

    .header-part {
        width: 100%;

    }

    .nav-menu {
        display: flex;
        flex-direction: column-reverse;
    }

    nav a {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-but {
        display: grid;
        grid-template-columns: repeat(5, 5fr);

    }

    .main {
        margin: 2%;

        flex-direction: column-reverse;
    }

    .main-sec1 {
        width: 274px;
        text-align: center;
    }

    .main-sec2 {
        width: 374px;
        height: 270px;
        background-size: 257px 257px;
    }

    .main-sec2-img {
        width: 202px;
        height: 190px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 54px;
    }



    .main-sec1-tit {
        font-size: 24px;
    }
}